@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto+Mono:wght@100;200&display=swap');

/* html {
  min-height: 100%;
} */
body {
  font-family: "Orelega One", cursive;
  background-color:red;
  margin: 0;
}

.principal{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
